.data-real ul li{
    background-color: var(--third-color);
    color: var(--main-color);
    margin: 5px;
    padding: 15px;
}
.task-time{
    margin: 15px;
}
.task-edit, .task-delete{
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 15px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--third-color);
    border: 0;
    outline: 0;
    border-radius: 5px;
}
.checked{
    background-color: var(--forth-color) !important;
}