.data-detailes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.data-detailes ul li{
    list-style: none;
    background-color: var(--third-color);
    color: var(--main-color);
    margin: 5px;
    padding: 5px;
    width: 60px;
    text-align: center;
}
.glow{
    background-color: var(--forth-color) !important;
}
@media screen and (max-width: 860px) {
    .data-detailes ul {
        padding: 0;
    }
}