#container h2 .state {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 8px;
}
@media screen and (max-width: 600px) {
  #container h2 .state {
    padding: 8px 0;
    margin-left: auto;
  }
}
