:root{
    --main-color: #22092C;
    --secound-color: #872341;
    --third-color: #BE3144;
    --forth-color: #F05941;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--secound-color), var(--third-color));
}